<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://phpunit.de/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Package Test Suite">
			<directory>
				tests
			</directory>
		</testsuite>
	</testsuites>
</phpunit>
